<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.userserver.mapper.UserMapper">

    <select id="getAllUser" resultType="org.example.userserver.entity.User">
        SELECT * FROM user
    </select>

    <select id="countAllUsers" resultType="int">
        SELECT COUNT(*) FROM user
    </select>

    <select id="getUsersByPage" resultType="org.example.userserver.entity.User">
        SELECT * FROM user LIMIT #{start}, #{pageSize}
    </select>

</mapper>